body{
    padding: 20px;
}

button{
    margin-right: 10px;
}

/* a{
    color: #131313;
    text-decoration: none;
}

a:active{
    color: #69696A;
    text-decoration: none;
} */

/* .navbar-brand, .nav-link{
    padding-left: 10px
} */